* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.header {
  font-size: 20px;
  text-align: center;
}

#array {
  background-color: rgb(255, 255, 255);
  height: auto;
  width: auto;
  margin: auto;
  position: relative;
  margin-top: 64px;
}

.block {
  width: 28px;
  background-color: #6b5b95;
  position: absolute;
  bottom: auto;
  transition: 0.2s all ease;
}

.block_id {
  position: relative;
  color: rgb(255, 4, 4);
  margin-top: -20px;
  width: 100%;
  text-align: center;
}
